**/.idea/**/*
!.idea/codeStyleSettings.xml
*.iml
*.log
.nrepl-port
*.jar
core/
out/
tmpg
target/
compiled/
node_modules/
*~
.shadow-cljs/
.cpcache
test-output
node-tests.js
resources
public
.idea
target
