{:deps
 {:aliases [:dev :test]}

 :dev-http
 {8099 "public"}

 :builds

 {:test
  {:target    :browser-test
   :test-dir  "public/test/js"
   :ns-regexp "-test$"
   :devtools  {:http-port 8022
               :http-root "public/test/js"}}

  :ci-tests
  {:target           :karma
   :js-options       {:js-provider :shadow}
   :compiler-options {:static-fns false} ; required for mocking to work
   :output-to        "target/ci.js"
   :ns-regexp        "-test$"}


  :helix-example {:target  :browser :output-dir "public/helix-example/js" :asset-path "/js"
                  :dev     {:compiler-options {:output-feature-set :es6}}
                  :modules {:helix-example {:entries [helix-example] :init-fn helix-example/init}}}

  :fulcro-example
  {:target   :browser :output-dir "public/fulcro-example/js" :asset-path "/js"
   :devtools {:after-load pro.kala-app.weather.client.client-entry/refresh
              :preloads   [;; if using the chrome extension:
                           com.fulcrologic.fulcro.inspect.preload

                           ;; if using the electron app:
                           ;com.fulcrologic.fulcro.inspect.websocket-preload

                           com.fulcrologic.fulcro.inspect.dom-picker-preload]}
   :modules  {:fulcro-example {:entries [todo.fulcro.todo-app]
                               :init-fn todo.fulcro.todo-app/init}}}

  :reagent-datascript-example
  {:target  :browser :output-dir "public/reagent-datascript-example/js" :asset-path "/js"
   :modules {:reagent-datascript-example {:entries [reagent-datascript]
                                          :init-fn reagent-datascript/init}}}}}
